<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.netforceinfotech.tagalong">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base"
        tools:replace="android:theme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.SignUpActivity" />
        <activity android:name=".login.ForgotPasswordActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".driverProfile.DriverProfile" />
        <activity android:name=".myCars.MyCarActivity" />
        <activity android:name=".myCars.RegisterNewCar" />
        <activity android:name=".home.findride.CantFindRideActivity"></activity>
        <activity android:name=".home.offerride.RideDetailActivity" />
        <activity android:name=".home.offerride.CarDetailActivity" />
        <activity android:name=".myprofile.MyProfileActivity" />
        <activity android:name=".chat1.MyChatActivity"></activity>
    </application>

</manifest>